<div x-data="{ new_address: false}" class="max-w-6xl mx-auto px-4 py-12">
  <!-- ADDRESSES HEADER -->
  <div class="flex flex-col md:flex-row items-center justify-between my-5 gap-4">
    <h1 class="text-2xl font-bold text-gray-700">Addresses</h1>
    <button x-on:click="new_address = true" type="button" class="text-white font-medium bg-gray-700 hover:bg-gray-900 px-6 py-2">
      Create new address
    </button>
    <a 
      href="{{ routes.account_url }}" 
      class="text-blue-600 hover:text-blue-800 font-medium underline">
      Back to account
    </a>
  </div>

  <!-- NEW ADDRESS MODAL -->
  <template x-if=true>
    <div x-show="new_address" class="h-full w-full fixed inset-0 bg-gray-700 bg-opacity-50 overflow-auto z-50">
      <div @click.away="new_address = false" class="relative max-w-md mx-auto bg-white border-dashed top-20 p-4">
        <div class="flex items-center justify-between mb-4">
          <h2 class="text-lg font-medium">New address</h2>
          <button x-on:click="new_address = false" class="text-gray-500">
            {% render 'icon-close' %}
          </button>
        </div>

        <!-- NEW ADDRESS FORM -->
        {% form 'customer_address', customer.new_address %}
          <!-- FIRST NAME INPUT -->
          <div class="mb-4">
            <label 
              for="address_fname_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              First name
            </label>
            <input 
              type="text" 
              name="address[first_name]" 
              id="address_fname_{{ form.id }}"
              value="{{ form.first_name }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- LAST NAME INPUT -->
          <div class="mb-4">
            <label 
              for="address_lname_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Last name
            </label>
            <input 
              type="text" 
              name="address[last_name]" 
              id="address_lname_{{ form.id }}"
              value="{{ form.last_name }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- COMPANY INPUT -->
          <div class="mb-4">
            <label 
              for="address_company_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Company
            </label>
            <input 
              type="text" 
              name="address[company]" 
              id="address_company_{{ form.id }}"
              value="{{ form.company }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- ADDRESS_1 INPUT -->
          <div class="mb-4">
            <label 
              for="address_address1_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Address 1
            </label>
            <input 
              type="text" 
              name="address[address1]" 
              id="address_address1_{{ form.id }}"
              value="{{ form.address1 }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- ADDRESS_2 INPUT -->
          <div class="mb-4">
            <label 
              for="address_address2_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              First name
            </label>
            <input 
              type="text" 
              name="address[address2]" 
              id="address_address2_{{ form.id }}"
              value="{{ form.address2 }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- CITY INPUT -->
          <div class="mb-4">
            <label 
              for="address_city_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              City
            </label>
            <input 
              type="text" 
              name="address[city]" 
              id="address_city_{{ form.id }}"
              value="{{ form.city }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- COUNTRY SELECT -->
          <div class="mb-4">
            <label 
              for="address_country_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Country
            </label>
            <select  
              name="address[country]" 
              id="address_country_{{ form.id }}"
              value="{{ form.country }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
              data-country-selector
              data-id="{{ form.id }}">
              {{ all_country_option_tags }}
            </select>
          </div>

          <!-- PROVINCE SELECT -->
          <div class="mb-4">
            <label 
              for="address_province_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Province
            </label>
            <select  
              name="address[province]" 
              id="address_province_{{ form.id }}"
              value="{{ form.province }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
            </select>
          </div>

          <!-- ZIP_CODE INPUT -->
          <div class="mb-4">
            <label 
              for="address_zip_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Postal zip code
            </label>
            <input 
              type="text" 
              name="address[zip]" 
              id="address_zip_{{ form.id }}"
              value="{{ form.zip }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- PHONE_NUMBER INPUT -->
          <div class="mb-4">
            <label 
              for="address_phone_{{ form.id }}"
              class="uppercase text-gray-700 text-xs font-medium mb-2">
              Phone number
            </label>
            <input 
              type="tel" 
              name="address[phone]" 
              id="address_phone_{{ form.id }}"
              value="{{ form.phone }}"
              class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
          </div>

          <!-- SUBMIT NEW ADDRESS -->
          <div class="flex flex-row gap-2">
            <button type="submit" class="w-full font-medium text-white bg-gray-700 hover:bg-gray-900 px-4 py-2">
              Create address
            </button>
            <button type="reset" class="w-full font-medium text-gray-700 border border-gray-700 px-4 py-2">
              Cancel
            </button>
          </div>
        {% endform %}
      </div>
    </div>
  </template>  

  <!-- ADDRESSES -->
  <div>
    {% paginate customer.addresses by 10 %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-12 p-4 md:p-12">
        {% for address in customer.addresses %}
          <div x-data="{ address_{{ address.id }}: false }">
            <div class="relative flex flex-col border p-2">
              {% if address == customer.default_address %}
                <span class="text-xs text-center font-medium text-white bg-green-700 px-4 py-2">
                  Default
                </span>
              {% endif %}
  
              <div class="my-8 h-full">
                {{ address | format_address }}
              </div>
  
              <div class="flex flex-row gap-2">
                <button x-on:click="address_{{ address.id }} = true" class="w-full text-xs text-white font-medium py-2 bg-gray-700 hover:bg-gray-900">
                  Edit
                </button>
                <button class="w-full text-xs text-gray-700 font-medium py-2 border">
                  Delete
                </button>
              </div>
            </div>
  
            <!-- EDIT ADDRESS MODAL -->
            <template x-if=true>
              <div x-show="address_{{ address.id }}" class="h-full w-full fixed inset-0 bg-gray-700 bg-opacity-50 overflow-y-auto z-50">
                <div @click.away="address_{{ address.id }} = false" class="relative max-w-md mx-auto bg-white border-dashed top-20 p-4">
                  <div class="flex items-center justify-between mb-4">
                    <h2 class="text-lg font-medium">Edit address</h2>
                    <button x-on:click="address_{{ address.id }} = false" class="text-gray-500">
                      {% render 'icon-close' %}
                    </button>
                  </div>

                  <!-- EDIT ADDRESS FORM -->
                  {% form 'customer_address', address %}
                    <!-- FIRST NAME INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_fname_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        First name
                      </label>
                      <input 
                        type="text" 
                        name="address[first_name]" 
                        id="address_fname_{{ form.id }}"
                        value="{{ form.first_name }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- LAST NAME INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_lname_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Last name
                      </label>
                      <input 
                        type="text" 
                        name="address[last_name]" 
                        id="address_lname_{{ form.id }}"
                        value="{{ form.last_name }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- COMPANY INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_company_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Company
                      </label>
                      <input 
                        type="text" 
                        name="address[company]" 
                        id="address_company_{{ form.id }}"
                        value="{{ form.company }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- ADDRESS_1 INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_address1_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Address 1
                      </label>
                      <input 
                        type="text" 
                        name="address[address1]" 
                        id="address_address1_{{ form.id }}"
                        value="{{ form.address1 }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- ADDRESS_2 INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_address2_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        First name
                      </label>
                      <input 
                        type="text" 
                        name="address[address2]" 
                        id="address_address2_{{ form.id }}"
                        value="{{ form.address2 }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- CITY INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_city_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        City
                      </label>
                      <input 
                        type="text" 
                        name="address[city]" 
                        id="address_city_{{ form.id }}"
                        value="{{ form.city }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- COUNTRY SELECT -->
                    <div class="mb-4">
                      <label 
                        for="address_country_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Country
                      </label>
                      <select  
                        name="address[country]" 
                        id="address_country_{{ form.id }}"
                        value="{{ form.country }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none"
                        data-country-selector
                        data-id="{{ form.id }}">
                        {{ all_country_option_tags }}
                      </select>
                    </div>

                    <!-- PROVINCE SELECT -->
                    <div class="mb-4">
                      <label 
                        for="address_province_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Province
                      </label>
                      <select  
                        name="address[province]" 
                        id="address_province_{{ form.id }}"
                        value="{{ form.province }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                      </select>
                    </div>

                    <!-- ZIP_CODE INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_zip_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Postal zip code
                      </label>
                      <input 
                        type="text" 
                        name="address[zip]" 
                        id="address_zip_{{ form.id }}"
                        value="{{ form.zip }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- PHONE_NUMBER INPUT -->
                    <div class="mb-4">
                      <label 
                        for="address_phone_{{ form.id }}"
                        class="uppercase text-gray-700 text-xs font-medium mb-2">
                        Phone number
                      </label>
                      <input 
                        type="tel" 
                        name="address[phone]" 
                        id="address_phone_{{ form.id }}"
                        value="{{ form.phone }}"
                        class="w-full text-gray-700 border px-4 py-3 focus:outline-none">
                    </div>

                    <!-- SUBMIT NEW ADDRESS -->
                    <div class="flex flex-row gap-2">
                      <button type="submit" class="w-full font-medium text-white bg-gray-700 hover:bg-gray-900 px-4 py-2">
                        Create address
                      </button>
                      <button type="reset" class="w-full font-medium text-gray-700 border border-gray-700 px-4 py-2">
                        Cancel
                      </button>
                    </div>
                  {% endform %}
                </div>
              </div>
            </template>
          </div>
        {% endfor %}
      </div>
    {% endpaginate %}
  </div>
</div>

<script>
  class CustomerAddress {
    constructor() {
      this.initCustomerAddress();
      this.customerAddressesSelector();
    }

    initCustomerAddress() {
      const allAddressesSelector = document.querySelectorAll("select[data-country-selector]");

      if (allAddressesSelector.length < 1) return;

      // console.log("allAddressesSelector: ", allAddressesSelector);

      allAddressesSelector.forEach(select => {
        let selectedCountry = this.getSelectedCountry(select);

        if(!selectedCountry) return;

        let provinces = selectedCountry.dataset.provinces;
        let arrayOfProvince = JSON.parse(provinces);
        let provinceSelector = document.querySelector(`#address_province_${select.dataset.id}`)
        // console.log('arrayOfProvince: ', arrayOfProvince);

        if(arrayOfProvince.length < 1) {
          provinceSelector.setAttribute('disabled', 'disabled')
        } else {
          provinceSelector.removeAttribute('disabled')
        }

        provinceSelector.innerHTML = '';
        let options = '';
        for(let i = 0; i < arrayOfProvince.length; i++) {
          if(arrayOfProvince[i][0] === provinceSelector.getAttribute('value')) {
            options += `<option value="${arrayOfProvince[i][0]}" selected>${arrayOfProvince[i][0]}</option>`;
          } else {
            options += `<option value="${arrayOfProvince[i][0]}">${arrayOfProvince[i][0]}</option>`;
          }
        }

        provinceSelector.innerHTML = options;
      })
    }

    getSelectedCountry(select) {
      let option, selectedOption;

      for(let index = 0; index < select.options.length; index++) {
        option = select.options[index];

        if(option.value === select.value) {
          selectedOption = option;
          selectedOption.setAttribute('selected', 'selected');
          break;
        }
      }

      return selectedOption;
    }

    customerAddressesSelector() {
      const addressesSelector = document.querySelectorAll("select[data-country-selector]");

      if(addressesSelector.length < 1) return;

      addressesSelector.forEach(select => {
        select.addEventListener('change', function(e) {
          // this.selectedIndex is a native property of the <select> element, used to determine the active option.
          let provinces = this.options[this.selectedIndex].dataset.provinces;
          const arrayOfProvince = JSON.parse(provinces);

          const provinceSelector = document.querySelector(`#address_province_${this.dataset.id}`);

          // Check if arrayOfProvince is empty
          if(arrayOfProvince.length < 1) {
            provinceSelector.setAttribute('disabled', 'disabled');
          } else {
            provinceSelector.removeAttribute('disabled');
          }

          provinceSelector.innerHTML = '';
          let options = '';
          for(let i = 0; i < arrayOfProvince.length; i++) {
            options += `<option value="${arrayOfProvince[i][0]}">${arrayOfProvince[i][0]}</option>`;
          }

          provinceSelector.innerHTML = options;

        });
      })
    }
  }

  // Wait for DOM to load before instantiating CustomerAddress class
  document.addEventListener("DOMContentLoaded", () => {
    const customerAddress = new CustomerAddress();
  });
</script>