{% paginate collection.products by 4 %}
  {% for product in collection.products %}
    {% if product.featured_image %}
      <img 
        src="{{ product.featured_image | image_url: width: 240, height: 240 }}" alt="{{ product.featured_image.alt }}"
        width="auto" 
        height="auto"
      >
    {% endif %}

    <span>{{ product.vendor }}</span>

    <a href="{{ product.url }}">{{ product.title }}</a>
    
    <p>{{ product.price | money }}</p>
  {% else %}
    <p>There are no products inside of this collection</p>
  {% endfor %}

  {% render 'pagination', pagination: paginate %}
{% endpaginate %}