{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}

{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  .swiper-button-prev, .swiper-button-next { 
    color: black; 
    top: auto !important; 
    height: 20px;
  }
  .swiper-button-prev::after, .swiper-button-next::after { font-size: 20px; }
  .swiper-pagination { color: black; bottom: 0 !important; }
  .swiper-pagination-bullet-active { background: black !important; }
  .product--information { height: fit-content; }
</style>

<div class="max-w-6xl mx-auto my-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias">
      <!-- DESKTOP MEDIA -->
      <div class="hidden md:block">
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-2">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>

      <!-- MOBILE CAROUSEL MEDIA -->
      <div class="md:hidden">
        <div class="swiper h-[22rem]">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="h-80 overflow-hidden p-2">
                  {% render 'product-media', media: media %}
                </div>
              </div>
            {% endfor %}
          </div>

          <div class="swiper-pagination"></div>

          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    <div class="product--information sticky top-5 p-2">
      {% form 'product', product %}
        <input type="hidden" 
          name="id" 
          value="{{ selected_variant.id }}"
        >

        <!-- PRODUCT VENDOR -->
        <div class="my-3">
          <span class="text-sm text-gray-500">{{ product.vendor }}</span>
        </div>

        <!-- PRODUCT TITLE -->
        <div class="my-3">
          <h1 class="text-3xl text-gray-900">{{ product.title }}</h1>
        </div>

        <!-- PRODUCT PRICE -->
        <div class="my-3">
          <span class="mr-1 text-base text-gray-500 line-through">
            {{ selected_variant.compare_at_price | money }}
          </span>
          <span class="text-lg text-gray-900">
            {{ selected_variant.price | money }}
          </span>

          {% if selected_variant.price < selected_variant.compare_at_price %}
            {% assign compare_at_price = selected_variant.compare_at_price | money | remove: '€' | remove: '$' | replace: ',', '.' %}
            {% assign current_price = selected_variant.price | money | remove: '€' | remove: '$' | replace: ',', '.' %}
            {% assign reduction = compare_at_price | minus: current_price %}
            {% assign reduction_percentage = reduction | divided_by: compare_at_price | times: 100 %}
            <span class="p-1 text-sm font-bold bg-red-500 rounded text-white mx-2">
              -{{ reduction_percentage | floor }}%
            </span>
          {% endif %}
        </div>

        <!-- PRODUCT VARIANTS -->
        <div class="my-3">
          {% unless product.has_only_default_variant %}
            <div data-url="{{ product.url }}" data-section="{{ section.id }}">
              {% for option in product.options_with_values %}
                <label for="Option-{{ section.id }}-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>

                <div class="my-2">
                  <select 
                    name="options[{{ option.name | escape }}]" 
                    id="Option-{{ section.id }}-{{ forloop.index0 }}"
                    class="w-full border p-3"
                  >
                    {% for value in option.values %}
                      <option 
                        value="{{ value | escape }}"
                        {% if option.selected_value == value %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ value }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            </div>
          {% endunless %}
        </div>

        <!-- PRODUCT QUANTITY -->
        <div class="my-3">
          <label for="Quantity-{{ section.id }}">Quantity</label>

          <div class="my-2">
            <input 
              type="number" 
              name="quantity" 
              id="Quantity-{{ section.id }}" 
              value="1" 
              min="1"
              class="w-full border p-3"
            >
          </div>
        </div>

        <!-- PRODUCT DESCRIPTION -->
        <div class="my-3">
          <p class="text-gray-700"> {{ product.description }}</p>
        </div>

        <!-- ADD PRODUCT TO CART -->
        <div class="my-3">
          <button 
            type="submit"
            name="add"
            class="w-full px-6 py-4 bg-gray-900 disabled:bg-gray-700 disabled:cursor-not-allowed text-white hover:bg-gray-700 rounded-sm my-2"
            {% if selected_variant.available == false %}
              disabled
            {% endif %}
          >
            {% if selected_variant.available == false %}
              Sold out
            {% else %}
              Add to cart
            {% endif %}
          </button>
        </div>
      {% endform %}
    </div>
  </div>
</div>

<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'

  const swiper = new Swiper('.swiper', {
    direction: 'horizontal',

    pagination: {
      el: '.swiper-pagination'
    },

    navigation: {
      prevEl: '.swiper-button-prev',
      nextEl: '.swiper-button-next'
    }
  })
</script>

{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "variant_selector",
        "name": "Variant Selector",
        "limit": 1
      },
      {
        "type": "quantity",
        "name": "Quantity",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      },
      {
        "type": "checkout_button",
        "name": "Checkout Button",
        "limit": 1
      },
    ]
  }
{% endschema %}